{
  "plugins": [
	"transform-amd-to-commonjs",
	[
	  "transform-string-literal-replace", {
	  "patterns": {
		"Emitter": "../vendors/Emitter",
		"Promise": "../vendors/Promise"
	  }
	}
	]
  ],
  "sourceMaps": "both"
}
