html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Arial", Helvetica, Garuda, sans-serif;
}

html, body {
	min-height: 100%;
}

.sidebar {
	top: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 250px;
	background-color: rgba(255,255,255,.8);
	*background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.8)
}

.body {
	position: relative;
	line-height: 140%;
	background-image: url('body.png');
}

.body__glow {
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	opacity: .12;
	position: absolute;
	background: url('body__glow.png') top center no-repeat;
	z-index: -1;
	*display: none;
}

a {
	color: #333;
	text-decoration: none;
}
	a:hover {
		color: #f60;
		border-bottom: 1px dotted #f60;
	}

ul {
	list-style: none;
	padding: 0;
	margin: 5px 0 5px 15px;
}

.logo {
	width: 324px;
	height: 233px;
	margin: 40px auto 0;
	background: url('logo.png') no-repeat;
}

.menu {
	margin: 20px 15px;
	font-size: 16px;
	line-height: 130%;
}
	.menu__name {
		border-bottom: 1px dotted #333;
	}

.content {
	margin: 50px 40px 0;
	padding-bottom: 100px;
	max-width: 700px;
	text-shadow: 0 0 1px #fff;
}


.descr {
	margin-top: 5px;
	margin-bottom: 10px;
}

code {
	font-family: monospace;
	border-radius: 5px;
}
.code {
	font-size: 90%;
	font-family: monospace;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: rgba(255,255,255,.3);
	*background-color: #f3f3f3;
	padding: 0 3px;
}

.fn {
	margin: 10px 0 0;
	font-size: 16px;
}

.type {
	color: #060;
	font-weight: normal;
}
	.fn__args {
		font-weight: normal;
	}

.sticky_bottom {
	top: auto;
	bottom: 0;
	position: fixed;
}


/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

pre code {
  display: block; padding: 0.5em;
  background: rgba(255,255,255,.6); color: black;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .comment * {
  color: rgb(0,106,0);
}

pre .keyword,
pre .literal,
pre .nginx .title {
  color: rgb(170,13,145);
}
pre .method,
pre .list .title,
pre .tag .title,
pre .setting .value,
pre .winutils,
pre .tex .command,
pre .http .title,
pre .request,
pre .status {
  color: #008;
}

pre .envvar,
pre .tex .special {
  color: #660;
}

pre .string {
  color: rgb(196,26,22);
}
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .regexp {
  color: #080;
}

pre .sub .identifier,
pre .pi,
pre .tag,
pre .tag .keyword,
pre .decorator,
pre .ini .title,
pre .shebang,
pre .prompt,
pre .hexcolor,
pre .rules .value,
pre .css .value .number,
pre .symbol,
pre .symbol .string,
pre .number,
pre .css .function,
pre .clojure .title,
pre .clojure .built_in {
  color: rgb(28,0,207);
}

pre .class .title,
pre .haskell .type,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .typename,
pre .tag .attribute,
pre .doctype,
pre .class .id,
pre .built_in,
pre .setting,
pre .params,
pre .clojure .attribute {
  color: rgb(92,38,153);
}

pre .variable {
 color: rgb(63,110,116);
}
pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .subst {
  color: #000;
}

pre .css .class, pre .css .id {
  color: #9B703F;
}

pre .value .important {
  color: #ff7700;
  font-weight: bold;
}

pre .rules .keyword {
  color: #C5AF75;
}

pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}

pre .preprocessor,
pre .preprocessor * {
  color: rgb(100,56,32);
}

pre .tex .formula {
  background-color: #EEE;
  font-style: italic;
}

pre .diff .header,
pre .chunk {
  color: #808080;
  font-weight: bold;
}

pre .diff .change {
  background-color: #BCCFF9;
}

pre .addition {
  background-color: #BAEEBA;
}

pre .deletion {
  background-color: #FFC8BD;
}

pre .comment .yardoctag {
  font-weight: bold;
}

pre .method .id {
  color: #000;
}
